fish/.config/fish/fish_history
fish/.config/fish/fishd.*
fish/.config/fish/fish_variables

vim/.vim/backup
vim/.vim/tmp
vim/.vim/.netrwhist

w3m/.w3m/w3mtmp*
w3m/.w3m/cookie*
w3m/.w3m/history*
w3m/.w3m/w3msrc*
w3m/.w3m/w3mcache*

ranger/.config/ranger/bookmarks
ranger/.config/ranger/history
ranger/.config/ranger/tagged

termite/.config/termite/config

pkgs/.pkgbuilds/st/st-git/.SRCINFO
pkgs/.pkgbuilds/st/st-git/st-*.tar.xz
pkgs/.pkgbuilds/st/st-git/st/*

browser/.surf/cache
browser/.surf/cookies.txt

# E.g. all patches
gentoo/**
!gentoo/patches
!gentoo/patches/*
!gentoo/patches/*/*

# Some savedconfigs
!gentoo/savedconfig
!gentoo/savedconfig/x11-terms
!gentoo/savedconfig/x11-terms/st*
!gentoo/savedconfig/www-client
!gentoo/savedconfig/www-client/surf*

pkgs/.pkgbuilds/mil-st/st
pkgs/.pkgbuilds/mil-st/*.tar.xz
pkgs/.pkgbuilds/mil-surf/mil-surf
pkgs/.pkgbuilds/mil-surf/*.tar.xz
pkgs/.pkgbuilds/mil-dwm/dwm
pkgs/.pkgbuilds/mil-dwm/*.tar.xz
