[user]
	email = m@milesalan.com
  name = Miles Alan
	signingkey = 18FAE46301B50948C2B69C0FAAB6DDF0008140A2
[color]
	ui = true
[core]
  editor = vis '+set syntax=diff'
[push]
  default = upstream

[alias]
  c = checkout
  m = commit
  s = status
  b = branch
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
