fish/.config/fish/fish_history
fish/.config/fish/fishd.*

vim/.vim/backup
vim/.vim/tmp
vim/.vim/.netrwhist

w3m/.w3m/w3mtmp*
w3m/.w3m/cookie
w3m/.w3m/history
w3m/.w3m/w3msrc*

ranger/.config/ranger/bookmarks
ranger/.config/ranger/history
ranger/.config/ranger/tagged
