
URxvt.font: xft:Inconsolata:size=10
URxvt.scrollBar: false

#define S_yellow        #49612f
#define S_orange        #879f6f
#define S_red           #293f10
#define S_magenta       #2f4d0f
#define S_violet	#314f0f
#define S_blue          #385419
#define S_cyan          #405e1e
#define S_green         #426223

#define S_base03        #060c00
#define S_base02        #536f34
#define S_base01        #618142
#define S_base00        #6f904b
#define S_base0         #254009
#define S_base1         #93c35d
#define S_base2         #97af7b
#define S_base3         #abbd93

URxvt*background:              S_base03
URxvt*foreground:              S_base0
URxvt*fading:                  40
URxvt*fadeColor:               S_base03
URxvt*cursorColor:             S_base1
URxvt*pointerColorBackground:  S_base01
URxvt*pointerColorForeground:  S_base1

URxvt*color0:                  S_base02
URxvt*color1:                  S_red
URxvt*color2:                  S_green
URxvt*color3:                  S_yellow
URxvt*color4:                  S_blue
URxvt*color5:                  S_magenta
URxvt*color6:                  S_cyan
URxvt*color7:                  S_base2
URxvt*color9:                  S_orange
URxvt*color8:                  S_base03
URxvt*color10:                 S_base01
URxvt*color11:                 S_base00
URxvt*color12:                 S_base0
URxvt*color13:                 S_violet
URxvt*color14:                 S_base1
URxvt*color15:                 S_base3
