::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-track { background: #e8e8e8; border-left: 1px solid black; }
::-webkit-scrollbar-thumb { border: 1px solid transparent; background: #555; }
::-webkit-scrollbar-thumb:hover { background: #555; border: 1px solid #888888;}