::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-bottom: 12px solid #e8e8e8;
}
::-webkit-scrollbar-track { 

  background: #e8e8e8; 
  //background: url('/favicon.ico');
  //background-position: left bottom;
  //background-size: 5px 5px;
  //background-repeat: no-repeat;
  border-left: 1px solid #888888;

}
::-webkit-scrollbar-thumb { 
  border: 1px solid transparent;

  border: 1px solid #888888;
  background: rgba(0, 0, 255, 0.1);
}
::-webkit-scrollbar-thumb:hover { background: #555; }

// html, img { -webkit-filter: invert(95%) hue-rotate(180deg); }
//html, body {
//  background: white !important;
//  color: black !important;
//}
