! Global Appearance
! ---------------------------
#ifdef COLOR
*customization              : -color
#endif 
*font: xft:Hack-9
*hinting: false

Xft.dpi: 96
Xft.hinting: 20
Xft.hintstyle: none

*cursorColor: #e8e8e8

*background: #ffffff
*foreground: #000000
! ---------------------



! X Color Scheme
! ---------------------------
! black
*color0: #000000
! bright_black
*color8: #000000
! red
*color1: #c30e23
! bright_red
*color9: #f02f45
! green
*color2: #00a20f
! bright_green
*color10: #00ac10
! yellow
*color3: #c3ae0e
! bright_yellow
*color11: #f0da2f
! blue
*color4: #0e23c3
! bright_blue
*color12: #2f45f0
! magenta
*color5: #ae0ec3
! bright_magenta
*color13: #da2ff0
! cyan
*color6: #0ec3ae
! bright_cyan
*color14: #2ff0da
! white
*color7: #cccccc
! bright_white
*color15: #000000
! ---------------------------





! URXVT XTerm Keycode Compat
! ---------------------------
Rxvt.keysym.M-Up            : \033[1;3A
Rxvt.keysym.M-Down          : \033[1;3B
Rxvt.keysym.M-Right         : \033[1;3C
Rxvt.keysym.M-Left          : \033[1;3D
Rxvt.keysym.M-S-Up          : \033[1;4A
Rxvt.keysym.M-S-Down        : \033[1;4B
Rxvt.keysym.M-S-Right       : \033[1;4C
Rxvt.keysym.M-S-Left        : \033[1;4D
Rxvt.keysym.C-Up            : \033[1;5A
Rxvt.keysym.C-Down          : \033[1;5B
Rxvt.keysym.C-Right         : \033[1;5C
Rxvt.keysym.C-Left          : \033[1;5D
Rxvt.keysym.C-S-Up          : \033[1;6A
Rxvt.keysym.C-S-Down        : \033[1;6B
Rxvt.keysym.C-S-Right       : \033[1;6C
Rxvt.keysym.C-S-Left        : \033[1;6D
Rxvt.keysym.M-Page_Up       : \033[5;3~
Rxvt.keysym.M-Page_Down     : \033[6;3~
Rxvt.keysym.M-Home          : \033[1;3H
Rxvt.keysym.M-End           : \033[1;3F
Rxvt.keysym.M-S-Home        : \033[1;4H
Rxvt.keysym.M-S-End         : \033[1;4F
Rxvt.keysym.C-Page_Up       : \033[5;5~
Rxvt.keysym.C-Page_Down     : \033[6;5~
Rxvt.keysym.C-Home          : \033[1;5H
Rxvt.keysym.C-End           : \033[1;5F
Rxvt.keysym.C-S-Home        : \033[1;6H
Rxvt.keysym.C-S-End         : \033[1;6F

Rxvt.keysym.C-k:       command:\033c
! ---------------------------


! URXVT Appearance
! ---------------------------
Rxvt.scrollBar_right        : True
Rxvt.scrollBar_floating     : True
Rxvt.scrollstyle            : plain
Rxvt*transparent: true
Rxvt*shading: 100
URxvt.termName: rxvt-256color

URxvt.borderColor: #cfcfcf
URxvt.externalBorder: 1
URxvt.internalBorder: 0
URxvt.thickness: 1
URxvt.visualBell: True

URxvt.scrollstyle: plain
URxvt.scrollBar_floating: True
URxvt.lineSpace: 0
URxvt.letterSpace: -1
URxvt.highlightColor: #fffeaa
URxvt.scrollColor: #cfcfcf

URxvt.pointerColor2: #ababab
URxvt.pointerColor: #cfcfcf

URxvt*cursorColor: #000000
URxvt.cursorBlink: False

URxvt*scrollBar_align: bottom
URxvt*skipBuiltinGlyphs: True

URxvt*pointerBlankDelay: 2
URxvt*pointerBlank: True

! ---------------------------



! URXVT Extensions
! ---------------------------
URxvt.perl-ext-common: default,resize-font

urxvt.font: xft:Hack:pixelsize=14

URxvt.resize-font.smaller: C-minus
URxvt.resize-font.bigger: C-equal
URxvt.resize-font.reset: C-plus
URxvt.resize-font.show: C-question

URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard

URxvt.keysym.A-c: perl:clipboard:copy
URxvt.keysym.A-v: perl:clipboard:paste
! ----------------------------




#ifdef SRVR_music
  urxvt.font: xft:Hack:pixelsize=24
#endif
