body {
	font-family: Arial, sans-serif;
	color: #000;
	background: #fff;
	line-height: 20px;
}


h1 {
	color: #641818;
	border-bottom: 1px solid #d0d0d0;
	font-size: 25px;
	line-height: 38px;
}

h2 {
	color: #641818;
	border-bottom: 1px dashed #d0d0d0;
	font-size: 23px;
	line-height: 30px;
}


h3 {
	color: #353f6e;
	font-size: 20px;
}


h4 {
	color: #641818;
	font-size: 18px;
}


h5 {
	color: #641818;
	font-size: 16px;
}

h6 {
	color: #641818;
	font-size: 15px;
}

ul li ul {
	border: 1px dotted gray;
	margin: 5px;
	
}
li {
	padding: 5px;
}

ul li ul {
	background: #eeeeee;
}

ul li ul li {
	background: white;
}

ul li ul li ul {
	background: #eeeeee;
}



a {
	color: #bb2828;
	text-decoration: none;
}

a:hover {
	color: #ff0000;
}
