[user]
	email = m@userbound.com
  name = mil
[color]
  ui = always
[core]
  editor = vis '+set syntax=diff'
[push]
  default = upstream

[alias]
  c = checkout
  m = commit
  s = status
  b = branch
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
